@tailwind base;
@tailwind components;
@tailwind utilities;



#review{
  border:groove 6px rgb(15, 13, 7);
}

.container {
  display: flex;
}
.left {
  flex-basis: 50%;
  padding: 20px;
}
.right {
  flex-basis: 50%;
  padding: 20px;
}